# ==========================================
# ENVIRONMENT VARIABLES TEMPLATE
# Copy this file as '.env' and fill in the real values
# ==========================================

# PostgreSQL Credentials
POSTGRES_USER=your_user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_db_name

# RabbitMQ Credentials
RABBITMQ_USER=your_rabbit_user_here
RABBITMQ_PASS=your_rabbit_password_here

# Connection URLs for Microservices
DATABASE_URL=postgresql://user:password@postgres-vector:5432/db_name
RABBITMQ_URL=amqp://user:password@rabbitmq:5672